{% extends 'base.html' %}
{% block content %}
{% load static %}


        <div class="container-fluid">
        <form action="reset_password_done/" method="POST">
            {% csrf_token %}
            <p>
                Please make sure you enter the email you registered with, and check your spam folder.
            </p>
            <h5 style="color:red; text-align: center;" >{{error}}</h5 style="color:red;" >
            <input type="email" placeholder="Enter email" name="reset_email" required><br>
            <input type="submit" class="btn btn-danger" value="Submit">
        </form>
</div>

{% endblock %}